/* Style the navbar */
.navbar {
    overflow: hidden;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
}

.navbar a img {
    width: 200px;
    height: 100px;
    border-radius: 10px;
}


/* Navbar links */
.navbar a {
    float: left;
    display: block;
    color: #FA7128;
    font-size: larger;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Dropdown container */
.dropdown {
    overflow: hidden;
    padding-left: 8.5in;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #FA7128;
    padding: 14px 20px;
    background-color: inherit;
    font-family: inherit;
    font-size: larger;
    margin: 0;
}

.dropdown .dropbtn .fa-user{
    font-size: 40px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 130px;
    border-radius: 10px;
    margin-right: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #FA7128;
    padding: 10px 11px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a dark background on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover      .dropdown-content {
    display: block;
}

.signinup{
    margin-left: 7in;
    margin-bottom: 8px;
}

.signinup button{
    background-color: #FA7128;
    border: #f9f9f9;
    border-radius: 5px;
}
.signinup button a{
    color: aliceblue;
    font-weight: bold;
}


body{
    background-image: url("./images/bodyBackground.jpg");
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0px;
}


/* footer styles */
.footer {
    margin-top: 400px;
    overflow: hidden;
    background-color: #f2f1f1;
    padding: 20px;
}

.footer-logo,
.footer-links, 
.footer-social,
.footer-baseline{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.footer-logo img{
    width: 250px;
    height: 130px;
    border-radius: 10px;
}

.footer-links a,
.footer-social a,
.footer-baseline p{
    margin-top: 20px;
    margin-left: 40px;
    text-decoration: none;
    color: #fa7128;
    font-size: x-large;
}

